
body {
  background-color: deepskyblue;
  background-size: 100% auto;
	background-repeat: no-repeat;
  color: rgba(50, 50, 50, 1);
  font-family: sans-serif;
  margin: 0px auto;
  font-size: 1.1em;
}

/* Pulled from Bootstrap */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  body {
    background-image: url(glasgow-fade-0-25.png);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-image: url(glasgow-fade-0-50.png);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url(glasgow-fade-0-75.png);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url(glasgow-fade-1.png);
  }
}

#tpc-logo {
	width: 10em;
}

.flex-grow {
	flex-grow: 1;
}

.pagetitle {
    clear: both;
    margin: 0;
    font-size: .9em;
    padding: 0px 10px 5px 0;
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 600;
}

.nav-item .btn-block {
 margin: 0 0 5px 0;
}

h1.subtitle {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  margin: 0;
  right: 0;
  left: 0;
  height: 40px;
  font-size: 2em;
  padding: 8px 5px 3px 5px;
  color: rgba(121, 161, 256, 1);
}

h1, h2 {
    font-size: 2.5em;
    color: rgba(100, 100, 100, 1);
}

h3 {
    font-size: 1.8em;
    color: rgb(65, 129, 191);
    padding: 10px 0px 0px 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5rem;
}

.sponsorsimage {
    width: 30%;
    margin: 20px 10px;
}

.sponsorsimagelrg {
    width: 70%;
    margin: 20px 10px;
}

.lrg-conf-logo {
    width: 90%;
    padding: 20px 0px;
}

.wrapper {
    margin: 0px;
    /* width: 100%; */
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 15px;
}

#header {
	background-color: rgba(60, 60, 60, .6);
}

.tag-line {
    padding: 0PX 10PX;
}

.navbar-light .navbar-brand {
    color: rgba(50, 50, 50, 1);
    /* background: rgba(55, 55, 54, .7); */
    font-size: 2em;
    font-weight: 600;
    /* padding-right: 20px; */
    /* border-bottom-right-radius: 40px; */
    /* border-top-right-radius: 40px; */
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    align-items: center;
    /* float: right; */
    line-height: 100%;
    font-size: 90%;
}

li.nav-item {
  float: right;
	padding: 0 0 0 5px;
}

.content {
  display: block;
    clear: both;
    background-color: rgba(255, 255, 255, .8);
    padding: 0;
    margin: 50px 0px;
    min-height: 95%;
}

#content  a {
	color: rgba(88, 152, 215, 1);
  text-decoration: none;
}

#content  a:hover {
	color: rgba(235, 232, 98, 1);
}

.sponsors {
    clear: both;
    background-color: rgba(222, 220, 220, .8);
    padding: 20px;
    margin: 0px;
    min-height: 95%;
}

.footer {
    clear: both;
    font-size: 90%;
    text-align: right;
    background-color: rgb(105, 173, 221);
    margin: 10px 1px;
    padding: 10px;
    color: rgb(77, 77, 77);
}

.dropdown-menu {
    font-size: 90%;
background-color: #94bbe2;
}

.navbar-brand-image {
  width: 16%;
}

.rounded-15px {
  border-radius: 15px;
}

.rounded-10px {
  border-radius: 10px;
}

img.userpic {
  border: solid black 1px;
  padding: 10px;
  max-width: 100%;
  height: auto;
}
table.user {
  margin: 20px auto;
  width: 80%;
}

.bg-dark-blue {
	background-color: darkblue;
}

.tpc-content {
	background-color: rgba(255,255,255,0.80);
}

.tpc-sponsors {
	background-color: #2C2C2C;
}

.tpc-sponsor-title {
	color: cyan;
}

td.nowrap {
  white-space: nowrap;
}

p.venue {
  background-color: transparent;
}

