body {
  background: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  font-family: sans-serif;
  margin: 0px auto;
  font-size: 1.1em;
}

.pagetitle {
    clear: both;
    margin: 0;
    font-size: .9em;
    padding: 0px 10px 5px 0;
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 600;
}

.nav-item .btn-block {
 margin: 0 0 5px 0;
}

h1.subtitle {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  margin: 0;
  right: 0;
  left: 0;
  height: 40px;
  font-size: 2em;
  padding: 8px 5px 3px 5px;
  color: rgba(121, 161, 256, 1);
}

h2 {
    font-size: 2.5em;
    color: rgba(100, 100, 100, 1);
}

h3 {
    font-size: 1.8em;
    color: rgb(65, 129, 191);
    padding: 10px 0px 0px 0px;
}

.sponsorsimage {
    width: 40%;
    margin: 20px 10px;
}

.sponsorsimagelrg {
    width: 70%;
    margin: 20px 10px;
}

.lrg-conf-logo {
    width: 90%;
    padding: 20px 0px;
}

.wrapper {
    margin: 0px;
    /* width: 100%; */
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0PX;
    padding-left: 0PX;
}

#header {
	background-color: rgba(60, 60, 60, .6);
}

.navbar {
	padding: .5rem .2rem;
}

.nav-row {
    background: rgba(255, 255, 255, 1) url(cubes2.jpg);
    opacity: 0.9;
    position: fixed;
    top: 0;
    height: 200px;
}

.tag-line {
    padding: 0PX 10PX;
}

.navbar-light .navbar-brand {
    color: rgba(50, 50, 50, 1);
    /* background: rgba(55, 55, 54, .7); */
    font-size: 2em;
    font-weight: 600;
    /* padding-right: 20px; */
    /* border-bottom-right-radius: 40px; */
    /* border-top-right-radius: 40px; */
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    align-items: center;
    /* float: right; */
    line-height: 100%;
    font-size: 90%;
}

li.nav-item {
  float: right;
	padding: 0 0 0 5px;
}

.content {
  display: block;
    clear: both;
    background-color: rgba(255, 255, 255, .8);
    padding: 0;
    margin: 50px 0px;
    min-height: 95%;
}

#content  a {
	color: rgba(88, 152, 215, 1);
  text-decoration: none;
}

#content  a:hover {
	color: rgba(235, 232, 98, 1);
}

.welcome {
    text-align: center;
    line-height: 150%;
    padding: 50px 0px 0px 0px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* text-decoration: solid; */
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.toprow {
    background: url(glasgow2.jpg) 100%;
    padding: 50px 0px;
}

.middlerow {
    padding: 20px 10px;
}

.sponsors {
    clear: both;
    background-color: rgba(222, 220, 220, .8);
    padding: 20px;
    margin: 0px;
    min-height: 95%;
}

.footer {
    clear: both;
    font-size: 90%;
    text-align: right;
    background-color: rgb(105, 173, 221);
    margin: 10px 1px;
    padding: 10px;
    color: rgb(77, 77, 77);
}

.dropdown-menu {
    font-size: 90%;
}

.navbar-brand-image {
  width: 16%;
}

.rounded-15px {
  border-radius: 15px;
}

.rounded-10px {
  border-radius: 10px;
}
