body {
	background-color: rgba(0, 0, 0, 1);
	color: rgba(200, 200, 200, 1);
	font-family: sans-serif;
	margin: 0pt auto;
}

h1.title {
	background-color: rgba(255, 255, 255, .2);
	background-image: url(css/logos/conf-logo.png);
	background-position: top right;
	background-repeat: no-repeat;
}

/* LAYOUT SECTIONS */

#wrapper {
	margin: 0pt auto;
	width: 98%;
}

#header {
	background-color: rgba(60, 60, 100, 1);
}

#menu {
	float: left;
	width: 30%;
	background-color: rgba(255, 0, 0, 1);
}


#menu h2 {
	font-size: 110%;
}

#menu li {
    margin-left: 1em;
    list-style-type: none;
}

#menu a {
	color: rgba(100, 100, 255, 1);
}

#menu a:hover {
	color: rgba(200, 200, 255, 1);
}


#content {
	float: right;
	width: 70%;
	background-color: rgba(0, 200, 0, 1);
}

#sponsors {
	clear: both;
	background-color: rgba(50, 100, 10, 1);
}

#footer {
	clear: both;
	font-size: 80%;
	text-align: right;
	background-color: rgba(60, 70, 80, 1);
}
